name: Reusable Deploy

on:
  workflow_call:
    inputs:
      ssh_user:
        required: true
        type: string
        description: "SSH Username"
      ssh_host:
        required: true
        type: string
        description: "SSH Hostname/IP"
      app_directory:
        required: true
        type: string
        description: "Directory containing the docker-compose file (relative to repo root)"
      docker_compose_file:
        required: true
        type: string
        description: "Name of the docker-compose file"
      repo_dir:
        required: false
        type: string
        default: "~/docker-composes"
        description: "Directory on the remote server where the repo is cloned"
      post_deploy_script:
        required: false
        type: string
        default: ""
        description: "Optional script to run after deployment"
    secrets:
      tailscale_authkey:
        required: true
        description: "Tailscale Auth Key"
      env_file_contents:
        required: false
        description: "Contents of the .env file"

jobs:
  deploy-shim:
    uses: ./.github/workflows/docker-up.yml
    with:
      ssh_user: ${{ inputs.ssh_user }}
      ssh_host: ${{ inputs.ssh_host }}
      app_directory: ${{ inputs.app_directory }}
      docker_compose_file: ${{ inputs.docker_compose_file }}
      repo_dir: ${{ inputs.repo_dir }}
      post_deploy_script: ${{ inputs.post_deploy_script }}
    secrets:
      tailscale_authkey: ${{ secrets.tailscale_authkey }}
      env_file_contents: ${{ secrets.env_file_contents }}
