name: Deploy immich ML

on:
  push:
    branches:
      - main
    paths:
      - 'immich/immich-machine-learning.yml'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale Connection
        uses: tailscale/github-action@v4
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          tags: tag:ci
          version: latest
          ping: ${{ vars.IMMICH_ML_HOST }}
      - name: Create .env file
        run: echo "${{ secrets.IMMICH_DOT_ENV_SECRETS }}" > .env
      - name: Deploy
        run: |
          # Update repository
          ssh -o "StrictHostKeyChecking=no" ${{ vars.IMMICH_ML_USER }}@${{ vars.IMMICH_ML_HOST }} "
            if [ ! -d ~/docker-composes ]; then
              git clone https://github.com/${{ github.repository }}.git ~/docker-composes
            else
              cd ~/docker-composes
              git pull
            fi
          "

          # Copy .env file to remote
          scp -o "StrictHostKeyChecking=no" .env ${{ vars.IMMICH_ML_USER }}@${{ vars.IMMICH_ML_HOST }}:~/docker-composes/immich/.env

          # Start services
          ssh -o "StrictHostKeyChecking=no" ${{ vars.IMMICH_ML_USER }}@${{ vars.IMMICH_ML_HOST }} "
            cd ~/docker-composes/immich
            docker compose -f immich-machine-learning.yml up -d --force-recreate
          "