name: Deploy network-holder

on:
  push:
    branches:
      - main
    paths:
      - 'tailscales/network-holder.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/deploy-compose.yml
    with:
      ssh_user: ${{ vars.PIFIVE_TAILSCALE_USER }}
      ssh_host: ${{ vars.PIFIVE_TAILSCALE_HOST }}
      app_directory: tailscales
      docker_compose_file: network-holder.yml
    secrets:
      tailscale_authkey: ${{ secrets.TAILSCALE_AUTHKEY }}