name: Deploy pifive-tailscale

on:
  push:
    branches:
      - main
    paths:
      - 'tailscales/pifive-tailscale.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/docker-up.yml
    with:
      ssh_user: ${{ vars.PIFIVE_TAILSCALE_USER }}
      ssh_host: ${{ vars.PIFIVE_TAILSCALE_HOST }}
      app_directory: tailscales
      docker_compose_file: pifive-tailscale.yml
      # TODO: Add post deploy script to create serve config file
      # post_deploy_script: |
      #   echo "Creating serve config file..."
      #   echo $PIFIVE_TAILSCALE_SERVE_CONFIG
      #   docker exec tailscale echo "$PIFIVE_TAILSCALE_SERVE_CONFIG" > "$PIFIVE_TAILSCALE_SERVE_CONFIG_HOST_PATH"
    secrets:
      tailscale_authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
      env_file_contents: |
        RAW_SERVICES='${{ vars.PIFIVE_TAILSCALE_SERVICES }}'
