name: Deploy postgres

on:
  push:
    branches:
      - main
    paths:
      - 'immich/postgres.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SSH_USER: ${{ vars.IMMICH_POSTGRES_USER }}
  SSH_HOST: ${{ vars.IMMICH_POSTGRES_HOST }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale Connection
        uses: tailscale/github-action@v4
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          tags: tag:ci
          version: latest
          ping: ${{ env.SSH_HOST }}

      - name: Create .env file
        run: echo "${{ secrets.IMMICH_DOT_ENV_SECRETS }}" > .env

      - name: Copy .env file to remote
        run: |
          scp -o "StrictHostKeyChecking=no" .env ${{ env.SSH_USER }}@${{ env.SSH_HOST }}:/tmp/.immich.env

      - name: Deploy
        run: |
          ssh -o "StrictHostKeyChecking=no" ${{ env.SSH_USER }}@${{ env.SSH_HOST }} "
            # Update repository
            if [ ! -d ~/docker-composes ]; then
              git clone https://github.com/${{ github.repository }}.git ~/docker-composes
            else
              cd ~/docker-composes
              git pull
            fi

            # Move .env file
            mv /tmp/.immich.env ~/docker-composes/immich/.env

            # Start services
            cd ~/docker-composes/immich
            docker compose -f postgres.yml up -d --force-recreate
          "